
.App {
  margin: 0;
  padding: 0;
  background: #000000;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
  min-width: 100%;
}

.App__Content {
  max-width: 1200px;
  margin: 0 auto;
}
