body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Timmons NY';
  src: local('Timmons NY'), url('./fonts/Timmons_NY_Timmons_NY.ttf') format('ttf');
}

@font-face {
  font-family: 'Crimson Text';
  src: local('Crimson Text'), url('./fonts/CrimsonText-Regular.ttf') format('ttf');
}
